<div class="cover{{#if @root.site.cover_image}} image-loading{{/if}}{{#match @root.custom.publication_cover_style "Half screen"}} half{{/match}} gh-outer">
    {{#if @root.site.cover_image}}
        <img class="cover-image u-object-fit" src="{{@root.site.cover_image}}" alt="{{@root.site.title}}">
    {{/if}}

    <div class="cover-content">
        {{#if @root.site.description}}
            <div class="cover-description">
                {{#unless @root.member}}
                    {{#if @root.custom.email_signup_text}}
                        {{@root.custom.email_signup_text}}
                    {{else}}
                        {{@root.site.description}}
                    {{/if}}
                {{else}}
                    {{@root.site.description}}
                {{/unless}}
            </div>
        {{/if}}

        {{#if @root.site.members_enabled}}
            {{#unless @root.site.members_invite_only}}
                {{#unless @root.member}}
                    <form class="form-wrapper cover-form" data-members-form>
                        <input class="auth-email" type="email" name="email" data-members-email placeholder="Your email address" required="true">
                        <button class="form-button" type="submit" aria-label="Submit">
                            <span class="default">Subscribe</span>
                            <span class="loader">{{> partials/icons/loader}}</span>
                            <span class="success">Email sent</span>
                        </button>
                    </form>
                {{/unless}}
            {{/unless}}
        {{/if}}
    </div>

    <button class="button-icon cover-arrow">
        {{> partials/icons/caret-down}}
    </button>
</div>